{% extends "base.html.twig" %}

{% block title %}Modification de l'annonce: {{ad.title}}{% endblock %}

{% form_theme myform 'ad/_collection.html.twig' %}
{# appel du fichier _collection.html.twig pour afficher le formulaire  #}

{% block body %}
    <div class="container">
        <h1>Modification de l'annonce: {{ad.title}}</h1>
        {{form_start(myform)}}
            <div class="container">
                <div>
                    {{form_widget(myform)}}
                </div>
            </div>
        {{form_end(myform)}}
    </div>
{% endblock %}




{% block javascripts %}
    {# appel du javascript qui commande le formulaire (asset>js>ad.js) #}
    {{encore_entry_script_tags('annonce')}}
{% endblock %}

